.blog__container {
  @extend %wrapper;
}

.blog__title {
  @extend %title;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.article__img--container {
  overflow: hidden;
  object-fit: cover;
  max-height: 200px;
  img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}

.article__info {
  padding: 20px;
  text-align: left;
  @extend %p;
}

.article__title {
  @extend %title;
  font-size: 1.3em;
  font-weight: 400;
}
