.hero__img {
  background-image: url("../../src/assets/images/image-mockups.png"),
    url("../../src/assets/images/bg-intro-mobile.svg");
  background-size: 345px, cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
  @media screen and (max-width: 540px) {
    background-position: center bottom;
  }
}

.hero__info {
  @extend %wrapper;
}

.info__title {
  @extend %title;
}

.info__p {
  @extend %p;
}

.buttom__invite {
  @extend %buttom__invite;
}

@media screen and (min-width: 920px) {
  main {
    position: relative;
  }
  .hero__img {
    position: absolute;
    background-image: url("../../src/assets/images/bg-intro-desktop.svg");
    background-size: 1124px 990px;
    background-position: left;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
    display: flex;
    right: 0;
  }

  .hero__img2 {
    position: absolute;
    background-image: url("../../src/assets/images/image-mockups.png");
    background-size: 450px 560px;

    background-position: bottom;
    background-repeat: no-repeat;
    height: 420px;
    width: 50%;
    display: flex;
    right: 0;
  }

  .hero__info {
    width: 50%;
    height: 300px;
    .buttom__invite {
      margin-top: 0;
    }
  }
}
