.hero__img {
  background-image: url("../../src/assets/images/image-mockups.png"),
    url("../../src/assets/images/bg-intro-mobile.svg");
  background-size: 345px, cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
  @media screen and (max-width: 540px) {
    background-position: center bottom;
  }
}

.hero__info {
  @extend %wrapper;
}

.info__title {
  @extend %title;
}

.info__p {
  @extend %p;
}

.buttom__invite {
  @extend %buttom__invite;
}
