.more__background {
  background-color: var(--lightGrayishBlue);
}

.more__container {
  @extend %wrapper;
}

.more__title--principal {
  @extend %title;
  font-size: 1.7em;
}

.more__title {
  @extend %title;
  font-size: 1.3em;
}

.more__p {
  @extend %p;
  font-size: 0.75em;
}
