:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 18px;
}

.blog__container, .more__container, .hero__info {
  padding: 1.5em;
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.article__title, .blog__title, .more__title, .more__title--principal, .info__title {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: 400;
  color: var(--darkBlue);
}

.article__info, .more__p, .info__p {
  color: var(--grayishBlue);
  margin-bottom: 1.5em;
  font-size: 0.8em;
  line-height: 1.6em;
}

.buttom__invite {
  padding: 1em 3em;
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
  border: none;
  border-radius: 25px;
  margin: 2em 0;
}
.buttom__invite a {
  text-decoration: none;
  color: var(--white);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9em 1.5em;
}
header .logo__container {
  display: flex;
}
header .menu-hamburguesa {
  width: 30px;
  height: 20px;
  background-image: url("../../src/assets/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
header .is-hidden {
  display: none;
}
header .is-hidden-menu {
  display: none;
}
header .check:checked ~ .menu-hamburguesa {
  background-image: url("../../src/assets/images/icon-close.svg");
}
header .check:checked ~ .navegacion {
  font-size: 1.2em;
  padding: 1em;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);
}
header .check:checked ~ .navegacion li {
  color: var(--grayishBlue);
  padding: 1em;
  display: block;
  text-align: center;
  background-color: white;
}

@media screen and (min-width: 920px) {
  header .menu-hamburguesa {
    display: none;
  }
  header .is-hidden {
    display: initial;
  }
  header .navegacion {
    display: flex;
    list-style: none;
  }
  header .navegacion li {
    padding: 0 20px;
    color: var(--grayishBlue);
  }
  header .buttom__invite-header {
    padding: 1em 3em;
    background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
    border: none;
    border-radius: 25px;
    margin: 0;
  }
  header .buttom__invite-header a {
    text-decoration: none;
    color: var(--white);
  }
}
.hero__img {
  background-image: url("../../src/assets/images/image-mockups.png"), url("../../src/assets/images/bg-intro-mobile.svg");
  background-size: 345px, cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 540px) {
  .hero__img {
    background-position: center bottom;
  }
}

@media screen and (min-width: 920px) {
  main {
    position: relative;
  }

  .hero__img {
    position: absolute;
    background-image: url("../../src/assets/images/bg-intro-desktop.svg");
    background-size: 1124px 990px;
    background-position: left;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
    display: flex;
    right: 0;
  }

  .hero__img2 {
    position: absolute;
    background-image: url("../../src/assets/images/image-mockups.png");
    background-size: 450px 560px;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 420px;
    width: 50%;
    display: flex;
    right: 0;
  }

  .hero__info {
    width: 50%;
    height: 300px;
  }
  .hero__info .buttom__invite {
    margin-top: 0;
  }
}
.more__background {
  background-color: var(--lightGrayishBlue);
}

.more__info {
  text-align: center;
}

.more__title--principal {
  font-size: 1.7em;
}

.more__title {
  font-size: 1.3em;
}

.more__p {
  font-size: 0.75em;
}

@media screen and (min-width: 920px) {
  .more__info {
    text-align: left;
    padding: 20px 60px;
  }

  .more__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 0;
  }

  .more__card {
    padding: 20px;
  }
}
.blog__title {
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

.article__img--container {
  overflow: hidden;
  object-fit: cover;
  max-height: 200px;
}
.article__img--container img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.article__info {
  padding: 20px;
  text-align: left;
}

.article__title {
  font-size: 1.3em;
  font-weight: 400;
}

@media screen and (min-width: 920px) {
  .blog__title {
    padding-bottom: 0;
  }

  .articles__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .card__container {
    padding: 20px;
  }
}
footer {
  background-color: var(--darkBlue);
  text-align: center;
  color: var(--white);
}
footer .logo__container svg {
  margin-top: 1em;
}
footer ul,
footer li {
  margin: 10px auto;
  padding: 0;
  list-style: none;
}
footer .buttom__invite {
  margin: 0;
  margin-bottom: 1em;
}

.rrss__container {
  margin: 15px auto;
}
.rrss__container a {
  margin: 0 10px;
}

@media screen and (min-width: 920px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  footer div ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
